@import "components";
@import '~vue2-datepicker/scss/index';

html{
    line-height: 1.2;
}
body{
    background: #F6F6F6;
}
.crud-container{
    width: 95%;
    margin: 0 auto;
}
.icon{
    display: block;
    &.burger{
        width: 25px;
        height: 19px;
        background: url(../i/icons/burger.svg) center/contain no-repeat;
    }
    &.profile{
        $width: 28px;
        width: $width;
        height: $width;
        mask: url(../i/icons/profile.svg) center/contain no-repeat;
        background-color: #6B9EFF;
    }
    &.search{
        $width: 17px;
        width: $width;
        height: $width;
        mask: url(../i/icons/search.svg) center/contain no-repeat;
        background-color: #fff;
    }
    &.plus{
        $width: 12px;
        width: $width;
        height: $width;
        mask: url(../i/icons/plus.svg) center/contain no-repeat;
        background-color: #fff;
    }
    &.edit{
        $width: 18px;
        width: $width;
        height: $width;
        mask: url(../i/icons/edit.svg) center/contain no-repeat;
    }
    &.delete{
        $width: 18px;
        width: $width;
        height: $width * 1.2;
        mask: url(../i/icons/delete.svg) center/contain no-repeat;
    }
    &.check{
        $width: 19px;
        width: $width;
        height: $width * 0.75;
        mask: url(../i/icons/check.svg) center/contain no-repeat;
    }
}
