@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    @font-face {
        font-family: Geometria;
        src: url('../font/Geometria-Medium.woff2') format('woff2'),
        url('../font/Geometria-Medium.woff') format('woff');
        font-weight: 500;
    }

    @font-face {
        font-family: Geometria;
        src: url('../font/Geometria-Bold.woff2') format('woff2'),
        url('../font/Geometria-Bold.woff') format('woff');
        font-weight: 700;
        font-style: normal;
    }

    @font-face {
        font-family: Geometria;
        src: url('../font/Geometria-Heavy.woff2') format('woff2'),
        url('../font/Geometria-Heavy.woff') format('woff');
        font-weight: 900;
        font-style: normal;
    }
}
